html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    padding: 0;
    margin: 0;
}
#container{
    background-color: #020c1b;
    width: 100%;
}
.layout{
    display: flex;
    flex-direction: column;
}
.navheader{
    background-color: #020c1b;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 11;
}
.navstyle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 12;
}
/* logo start */

.text2{
    display: flex;
    justify-content: center;
    margin-left: 50px;
}
.malone2{
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    font-size: 2.3rem;
    color: #8f6313;
    position: relative;
    font-weight: 600;
    text-shadow: 0 0 10px #8f6313, 
                0 0 40px #8f6313, 
                0 0 80px #8f6313,
                0 0 100px #8f6313;
    animation-name: animate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    cursor: pointer;
}
/* @keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
} */

.malone2::before {
    content: '';
    position: absolute;
    background-color: #8f6313;
    top: 120%;
    right: 30%;
    width: 50%;
    height: 50%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(0.6em);
}
@media (max-width: 640px){
    .malone2{
        font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
        font-size: 2rem;
        color: #8f6313;
        position: relative;
        font-weight: 600;
        text-shadow: 0 0 10px #8f6313, 
                    0 0 40px #8f6313, 
                    0 0 80px #8f6313,
                    0 0 100px #8f6313;
        cursor: pointer;
    }
}
@media (max-width: 570px) {
    .malone2{
        font-size: 1.7rem;
        text-shadow: 0 0 5px #8f6313, 
                    0 0 20px #8f6313, 
                    0 0 0px #8f6313,
                    0 0 60px #8f6313;
    }
    .malone2::before {
        content: '';
        position: absolute;
        background-color: #8f6313;
        top: 120%;
        right: 30%;
        width: 50%;
        height: 50%;
        transform: perspective(1rem) rotateX(40deg) scale(1, 0.35);
        filter: blur(0.6rem);
    }
}
@media (max-width: 460px){

    .malone2{
        font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
        font-size: 1.5
        rem;
        color: #8f6313;
        position: relative;
        font-weight: 600;
        text-shadow: 0 0 5px #8f6313, 
                    0 0 0px #8f6313, 
                    0 0 30px #8f6313,
                    0 0 50px #8f6313;
        cursor: pointer;
    }
}
@media (max-width: 390px) {
    .text2{
        display: flex;
        justify-content: center;
        margin-left: 30px;
    }
}

/* logo ends */

.navstylelink{
    display: flex;
    align-items: center;
}

.navstylelink ol{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.navstylelink ol li{
    padding-inline: 40px;
}
.menu1 {
    position: relative;
    text-decoration: none;
    color: #8f6313;
    padding: 20px;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    font-weight: 600;
    padding: 0px 0 20px 0;
}
.menu1::before{
    content: '';
    width: 0%;
    height: 5px;
    background-color: #8f6313;
    position: absolute;
    bottom: 0;
    transition: 0.5s;
}
.menu1:hover::before{
    width: 100%;
}

.resumebutton{
    /* margin-right: 40px; */
    border: 2px solid #8f6313;
    border-radius: 15px;
}
.button {
    text-decoration: none;
    padding: 5px;
    color: #8f6313;
    font-family: 'El Messiri', sans-serif;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    transition: 0.5s;
}
.resumebutton:hover .button{
    color: white;
    background-color: #453009;
    border-radius: 15px;
}
.mobilenavtoggle{
    display: none;
}
@media (max-width: 1070px){
    .navstylelink ol li{
        padding-inline: 30px;
    }
}
@media (max-width: 970px){
    .navstylelink ol li{
        padding-inline: 20px;
    }
}
@media (max-width: 970px){
    .navstylelink ol li{
        padding-inline: 18px;
    }
    .menu1{
        font-size: 13px;
    }
}
@media (max-width: 800px){
    .navstylelink{
        position: fixed;
        inset: 0 0 0 40%;
        background-color: hsl(0 0% 100% / 0.1);
        display: flex;
        flex-direction: column;
        padding: min(5vh,7rem) 2em;
        backdrop-filter: blur(2rem);
        align-items: center;
        z-index: 15;
        transform: translatex(100%);
        transition: transform 350ms ease-out;
    }
    .navstylelink[data-visible="true"] {
        transform: translatex(0%);
    }
    .navstylelink ol{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        list-style: none;
    }
    .navstylelink ol li{
        padding: 40px 0;
        
    }
    .menu1{
        font-size: 20px;
        text-decoration: none;
        color: #8f6313;
        border-style: none;
        font-weight: bold;
        padding: 10px;
        font-family: 'El Messiri', sans-serif;
    }
    .navstylelink ol li a:hover{
        background-color: none;
    }
    .menu1::before{
        display: none;
    }
    .menu1:focus {
        border-bottom: 2px solid #8f6313;
    }
    .resumebutton{
        border: 2px solid #8f6313;
        border-radius: 15px;
    }
    .button {
        text-decoration: none;
        padding: 5px;
        color: white;
        background-color: #453009;
        border-radius: 15px;
        font-family: 'El Messiri', sans-serif;
        display: flex;
        align-items: center;
        padding: 10px 20px;
        transition: 0.5s;
    }
    .resumebutton:hover .button{
        color: none;
        background-color: none;
        border-radius: 15px;
    }
    .mobilenavtoggle{
        display: block;
        position: absolute;
        background: url(/icon-hamburger.svg);
        background-repeat: no-repeat;
        width: 2rem;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        z-index: 20;
    }
    .mobilenavtoggle[aria-expanded="true"] {
        background-image: url(/icon-close.svg);
    }
}

.iconlist{
    orientation: left;
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 10px;
    right: auto;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialicon{
    list-style-type: none;
}
.iconlist .socialicon i{
    padding-block: 35px;
    color: #8f6313;
    align-items: center;
}
.iconlist .socialicon i:hover{
    color: #919393ab;
    padding-bottom: 40px;
}
.socialicon::after{
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #8f6313;
}
.email{
    orientation: right;
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 35px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.email::after{
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #8f6313;
}
.email a:hover{
    color: #919393b5;
}
.email a{
    margin: 20px auto;
    padding: 0px 10px;
    letter-spacing: 0.1em;
    writing-mode: vertical-rl;
    text-decoration: none;
    color: #8f6313;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courgette', cursive;
}
.fa-envelope{
    color: #8f6313;
    padding-bottom: 10px;
    margin-right: 5px;
}
@media (max-width: 800px){
    .iconlist, .email{
        display: none;
    }
}


/*main page startin from home*/

main {
    max-width: 1600px;
    min-height: 100vh;
    padding: 90px 120px 50px;
}
section {
    padding: 50px 0px;
    width: 100%;
}
@media (max-width: 800px){
    main {
        max-width: 1600px;
        min-height: 100vh;
        padding: 90px 50px;
    }
    section {
        margin: 0px auto;
        padding: 150px 0px;
        
    }
}
@media (max-width: 380px){
    main {
        max-width: 400px;
        min-height: 100vh;
        padding: 90px 20px;
    }
    section {
        margin: 0px auto;
        padding: 150px 0px 50px;
    }
}
#home{
    display: flex;

    flex-direction: column;
    justify-content: center;
}
.hi {
    margin: 10px 10px 10px 4px;
    color: #8f6313;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    font-size: clamp(1rem,5vw,2rem);
    font-weight: 600;
}
.eze{
    margin: 0px;
    padding: 0px;
    font-size: clamp(20px, 7vw, 100px);
    font-weight: 600;
    /* color: #b8b7b7e8; */
    letter-spacing: 5px;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    overflow: hidden;
    background: linear-gradient(90deg, #020c1b, #fff, #020c1b);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 2s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, .03);
    /* color: transparent;
    -webkit-text-stroke: 1px #b8b7b7e8;
    background: url(/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite; */
}
@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}
/* @keyframes back{
    100%{
        background-position: 2000px 0;
    }
} */
.front{
    margin: 0px;
    font-size: clamp(14px, 5vw, 40px);
    font-weight: 400;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.659);
}

.web{
    /* max-width: 0px; */
    max-width: 600px;
    font-size: clamp(12px, 3vw, 20px);
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    color: #8f6313;
    line-height: 28px;
    letter-spacing: 1.2px;
}


/*about me page*/
.aboutme {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(24px,5vw,28px);
    white-space: nowrap;
    font-family: 'Courgette', cursive;
    color: #8f6313;
}
.aboutme::after {
    content: "";
    display: block;
    position: relative;
    top: -2px;
    width: 400px;
    height: 1px;
    margin-left: 20px;
    background-color: #8f641398;
}
.aboutme::before {
    content: "";
    display: block;
    position: relative;
    top: -2px;
    width: 400px;
    height: 1px;
    margin-right: 20px;
    background-color: #8f641398;
}
section .aboutcontent{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
    font-size: clamp(7px, 4vw, 17px);
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    color: rgba(255, 255, 255, 0.376);
    text-align: justify;
    letter-spacing: 1.2px;
    line-height: 1.3;
}
.wix{
    text-decoration: none;
    color: #8d5e07;
}
.wix:hover{
    text-decoration: underline;
}
.skill-tool{
    display: flex;
    justify-content: space-between;
}
.skill-list, .tool-list{
    list-style-type: circle;
}
H4{
    text-align: center;
    line-height: 0;
}

.alexphoto {
    position: relative;
    max-width: 350px;
}
.alexphoto div {
    background-image: url(/20211227_082008.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 10px 30px -15px #010710;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    display: block;
    position: relative;
    width: 100%;
    height: 100%;

    border-radius:5px;
    /*background-color: #8f6313;*/
    }
.alexphoto div::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius:5px;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    top: 0px;
    left: 0px;
    background-color: #8f6413a4;
    mix-blend-mode: screen;
    }
.alexphoto div:hover:before {
    display: none;
}
.alexphoto div img{
    border-radius:5px;
}
.alexphoto div::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    border: 2px solid #8f6313;
    top: 20px;
    left: 20px;
    z-index: -1;
}
.alexphoto div:hover::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    border: 2px solid #8f6313;
    top: 10px;
    left: 10px;
    z-index: -1;
}
/*teblet about me*/
@media (max-width: 800px){
    section .aboutcontent{
        display: block;
        
    }
    .alexphoto {
        position: relative;
        max-width: 450px;
        margin: 0 auto;
    }
    .alexphoto div {
        background-image: url(/20211227_082008.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 10px 30px -15px #010710;
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
        display: block;
        width: 90%;
        height: 50vh;
        border-radius:5px;
        }
    .alexphoto div::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius:5px;
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
        top: 0px;
        left: 0px;
        background-color: #8f6413a4;
        mix-blend-mode: screen;
        }
    .alexphoto div:hover:before {
        display: none;
    }
    .alexphoto div img{
        border-radius:5px;
    }
    .alexphoto div::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
        border: 2px solid #8f6313;
        top: 20px;
        left: 20px;
        z-index: -1;
    }
    .alexphoto div:hover::after{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
        border: 2px solid #8f6313;
        top: 10px;
        left: 10px;
        z-index: -1;
    }
}

/*services*/
.somethings {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(8px,4vw,28px);
    white-space: nowrap;
    font-family: 'Courgette', cursive;
    color: #8f6313;
}
.somethings::after {
    content: "";
    display: block;
    position: relative;
    top: -2px;
    width: 400px;
    height: 1px;
    margin-left: 20px;
    background-color: #8f641398;
}
.somethings::before {
    content: "";
    display: block;
    position: relative;
    top: -2px;
    width: 400px;
    height: 1px;
    margin-right: 20px;
    background-color: #8f641398;
}
/*.projectcontent {
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}
.projectcontent:nth-of-type(2n+1) .spaceproject {
    grid-column: 7 / -1;
    text-align: right;
}
.projectcontent .spaceproject {
    position: relative;
    grid-area: 1 / 1 / -1 / 7;
    z-index: 5;
}
.projectcontent:nth-of-type(2n+1) .projectimage {
    grid-column: 1 / 8;
}
.projectcontent .projectimage {
    box-shadow: 0 10px 30px -15px rgb(0, 0, 0);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    grid-area: 1 / 6 / -1 / -1;
    position: relative;
    z-index: 1;
    cursor: pointer;
}*/
.projectcontent{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projectimage{
    width: 70%;
    height: 470px;
    background-image: url(/spacepic.png);
    background-repeat: no-repeat;
    background-position: ;
    background-size: cover;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 20px black;
}  
.projectimage:hover{
    box-shadow: 0 20px 50px -20px rgb(0, 0, 0);
}
.projectimage::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius:8px;
    top: 0px;
    left: 0px;
    inset: 0px;
    z-index: 1;
    background-color: #8f6413a4;
    mix-blend-mode: screen;
}
.projectimage:hover::before{
    display: none;
    transition: all 0.55s cubic-bezier(0.645,0.045,0.355,1);
    
}
.spaceproject{
    width: 50%;
    margin-right: -150px;
}
.projectcontent .write-up {
    box-shadow: 0 10px 30px -15px rgb(0, 0, 0);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: 5px;
    background-color: #021127;
    color: #919393;
    font-size: clamp(7px, 3vw, 17px);
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}
.write-up:hover{
    box-shadow: 0 20px 50px -20px rgb(0, 0, 0);
}
.frontcom {
    text-decoration: none;
    color: #8d5e07;
}
.frontcom:hover{
    text-decoration: underline;
    transition: all 0.55s cubic-bezier(0.645,0.045,0.355,1);
}
.projectcontent .project-tool{
    display: flex;
    flex-direction: row;
    margin: 20px 0 20px 0;
    padding: 0 0 0 0;
}
.projectcontent .project-tool li{
    list-style-type: none;
    margin: 0;
    padding-right: 40px;
    font-size: clamp(9px, 2vw, 14px);
    font-weight: light;
    color: #919393;
    z-index: 5;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}
.spaceproject .feature{
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    font-size: clamp(9px, 3vw, 14px);
    color: #8d5e07;
    margin-bottom: 0;
    font-weight: bold;
    z-index: 5;
}
.theme{
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    font-size: clamp(10px, 3vw, 35px);
    margin-bottom: 30px;
    margin-top: 0;
    color: #ffffff9f;
    cursor: pointer;
    z-index: 5;
}
.theme a {
    text-decoration: none;
    list-style-type: none;
    color: #ffffff9f;
}
.theme a:hover{
    color: #8d5e07;
    transition: all 0.55s cubic-bezier(0.645,0.045,0.355,1);
}

.projectlinkicons li {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
}
.projectlinkicons li a{
    margin-right: 40px;
    margin-top: 20px;
    color: #8f6313;
}
.projectlinkicons li a:hover{
    color: #999b9b;
}

@media (max-width: 800px){
    .projectcontent {
        position: relative;
        display: flex;
        align-items: center;
        width:90%;
        background-image: url(spacepic.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: darken rgba(0, 0, 0, 0.459) ;
        height: 47.7vh;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0 0 20px black;
    }
    .projectcontent::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 57vh;
        border-radius:5px;
        top: 0px;
        left: 0px;
        inset: 0px;
        background-color: #1b1711;
        mix-blend-mode: darken;
    }
    .projectimage{
        display: none;
    }
    .spaceproject{
        width: 80%;
        z-index: 5;
        margin: 0;
        justify-content: center;
    }
    .write-up {
        box-shadow: 0 10px 30px -15px rgb(0, 0, 0);
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
        position: absolute;
        z-index: 5;
        padding: 10px;
        border-radius: 5px;
        background-color: #021127;
        color: #919393;
        font-size: 17px;
        font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    }
    .write-up:hover{
        box-shadow: 0 0px 5px #f5a60846;
    }
    .frontcom {
        text-decoration: none;
        color: #8d5e07;
    }
    .frontcom:hover{
        text-decoration: underline;
        transition: all 0.55s cubic-bezier(0.645,0.045,0.355,1);
    }
    .project-tool{
        display: flex;
        flex-direction: row;
        margin: 10px 0 10px 0;
        padding: 0 0 0 0;
        z-index: 5;
    }
    .project-tool li{
        list-style-type: none;
        margin: 0;
        padding-right: 40px;
        z-index: 5;
        font-size: 14px;
        font-weight: light;
        color: #919393;
        font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    }
    .spaceproject .feature{
        font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
        font-size: 14px;
        color: #8d5e07;
        margin-bottom: 0;
        font-weight: bold;
        z-index: 6;
    }
    .theme{
        font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
        font-size: 35px;
        margin-bottom: 10px;
        margin-top: 0;
        color: #ffffff9f;
        cursor: pointer;
        z-index: 6;
    }
    .theme:hover{
        color: #8d5e07;
        transition: all 0.55s cubic-bezier(0.645,0.045,0.355,1);
    }
}
@media (max-width: 380px){
    .projectcontent {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0 auto;
        width:90%;
        background-image: url(spacepic.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: darken rgba(0, 0, 0, 0.459) ;
        height: 47vh;
        padding: 0px;
        border-radius: 5px;
        box-shadow: 0 0 20px black;
    }
    .projectcontent::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 47vh;
        border-radius:5px;
        top: 0px;
        left: 0px;
        inset: 0px;
        background-color: #1b1711;
        mix-blend-mode: darken;
    }
    .projectimage{
        display: none;
    }
    .spaceproject{
        width: 90%;
        z-index: 5;
        margin: 0;
        margin-left: 0;
        height: 90%;
    }
    .write-up {
        box-shadow: 0 10px 30px -15px rgb(0, 0, 0);
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
        width: 80%;
        z-index: 5;
        padding: 2px;
        height: 30%;
        border-radius: 5px;
        background-color: #021127;
        color: #919393;
        margin-left: 0;
        font-size: 7px;
        font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    }
    .write-up:hover{
        box-shadow: 0 0px 5px #f5a60846;
    }
    .frontcom {
        text-decoration: none;
        color: #8d5e07;
    }
    .frontcom:hover{
        text-decoration: underline;
        transition: all 0.55s cubic-bezier(0.645,0.045,0.355,1);
    }
    .project-tool{
        display: flex;
        flex-direction: row;
        margin: 10px 0 10px 0;
        padding: 0 0 0 0;
        z-index: 5;
        /*margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        padding-inline-start: 10px;*/
    }
    .project-tool li{
        list-style-type: none;
        
        padding-right: 0;
        z-index: 5;
        font-size: 5px;
        font-weight: light;
        color: #919393;
        font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    }
    .spaceproject .feature{
        font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
        font-size: 10px;
        color: #8d5e07;
        margin-bottom: 0;
        font-weight: bold;
        z-index: 6;
        margin-top: 0;
        padding-top: 0;
    }
    .theme{
        font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
        font-size: 25px;
        margin-bottom: 10px;
        margin-top: 0;
        color: #ffffff9f;
        cursor: pointer;
        z-index: 6;
    }
    .theme:hover{
        color: #8d5e07;
        transition: all 0.55s cubic-bezier(0.645,0.045,0.355,1);
    }
}

/*contact*/
#contact {
    margin: 0px auto;
    padding: 120px 0px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.what {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0px 10px;
    width: 100%;
    font-size: clamp(14px,5vw,20px);
    white-space: nowrap;
    font-family: 'Courgette', cursive;
    color: #8f6313;
}
.what::after {
    content: "";
    display: block;
    position: relative;
    top: -2px;
    width: 415px;
    height: 1px;
    margin-left: 20px;
    background-color: #8f641398;
}
.what::before {
    content: "";
    display: block;
    position: relative;
    top: -2px;
    width: 415px;
    height: 1px;
    margin-right: 20px;
    background-color: #8f641398;
}
.get{
    font-size: clamp(20px, 8vw, 60px);
    font-weight: 400;
    color: #b8b7b7e8;
    line-height: 1.1;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    margin-top: 0;
    margin-bottom: 15px;
}
.my{
    font-size: clamp(10px, 3vw, 20px);
    font-weight: 400;
    color: #b8b7b7c5;
    line-height: 1.1;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    margin-top: 0;
}
.contactbox{
    width: 50%;
    min-width: 200px;
    margin: o auto;
    padding: 20px;
    box-shadow: 0 0 30px black;
    background-color: #94815d83;
    border-radius: 5px;
}
.formgroup{
    width: 100%;
    margin-top: 10px;
}
.formgroup input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border-style: none;
}
.formgroup textarea{
    width: 100%;
    height: 90px;
    border-radius: 5px;
    border-style: none;
    resize: vertical;
}
.buttonsubmit{
    width: 101%;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 35px;
    margin-top: 5px;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    color: #b47706;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: 0.3s ease background-color;
}
.buttonsubmit:hover{
    background-color: #a79471;
    color: #473004;
}
#status{
    width: 20%;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
}
#status.success{
    background-color: #5a8d0770;
    color: #000;
    animation: status 4s ease forwards;
}
#status.error{
    background-color: #ff000049;
    color: rgb(255, 255, 255);
    animation: status 4s ease forwards;
}
@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}

/*tablets*/
@media (max-width: 800px){
    .iconlist, .email{
        display: none;
    }
    .aboutme::before, .aboutme::after, .somethings::before,
    .somethings::after, .what::before, .what::after {
        display: none;
    }
    .aboutme, .somethings, .what{
        display: flex;
        justify-content: center;
    }
}
/*footer*/
.downicon{
    display: none;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #919393;
    font-family: ;
    font-size: 15px;
    line-height: 1;
}
footer div{
    margin-bottom: 40px;
}
footer div a{
    text-decoration: none;
    color: #999b9b;
    font-family: 'Courgette', cursive;

}
@media (max-width: 800px){
    .downicon{
        display: flex;
    }
    .downicon li{
        padding-right: 30px;
        list-style-type: none;
        color: #8f6313;
    }
    .downicon li i{
        color: #8f6313;
    }
    .downicon li i:hover{
        color: #919393;
    }
}
