*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    padding: 0;
    margin: 0;
}
#container{
    background-color: #020c1b;
    width: 100%;
}

/* .layout{
    display: flex;
    flex-direction: column;
    width: 100%;
} */
.navheader{
    background-color: #020c1b;
    position: fixed;
    top: 0px;
    padding-block: 20px;
    left: 0;
    width: 100%;
    z-index: 11;
}
.navstyle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 12;
}
/* logo start */

.text2{
    display: flex;
    justify-content: center;
    margin-left: 50px;
}
.malone2{
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    font-size: 2.3rem;
    color: #8f6313;
    position: relative;
    font-weight: 600;
    text-shadow: 0 0 5px #8f6313, 
                0 0 30px #8f6313, 
                0 0 80px #8f6313;
    animation-name: animate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    cursor: pointer;
}
.malone2::before {
    content: '';
    position: absolute;
    background-color: #8f6313;
    top: 120%;
    right: 30%;
    width: 50%;
    height: 50%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(0.6em);
}
@media (max-width: 640px){
    .malone2{
        font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
        font-size: 2rem;
        color: #8f6313;
        position: relative;
        font-weight: 600;
        text-shadow: 0 0 10px #8f6313, 
                    0 0 40px #8f6313, 
                    0 0 80px #8f6313,
                    0 0 100px #8f6313;
        cursor: pointer;
    }
}
@media (max-width: 570px) {
    .malone2{
        font-size: 1.7rem;
        text-shadow: 0 0 5px #8f6313;
    }
    .malone2::before {
        content: '';
        position: absolute;
        background-color: #8f6313;
        top: 100%;
        right: 25%;
        width: 60%;
        height: 60%;
        transform: perspective(1rem) rotateX(40deg) scale(1, 0.35);
        filter: blur(0.6rem);
    }
}
@media (max-width: 460px){

    .malone2{
        font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
        font-size: 1.5
        rem;
        color: #8f6313;
        position: relative;
        font-weight: 600;
        text-shadow: 0 0 2px #8f6313;
        cursor: pointer;
    }
}
@media (max-width: 390px) {
    .text2{
        display: flex;
        justify-content: center;
        margin-left: 30px;
    }
}

/* logo ends */

.navstylelink{
    display: flex;
    align-items: center;
}

.navstylelink ol{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.navstylelink ol li{
    padding-inline: 40px;
}
.menu1 {
    position: relative;
    text-decoration: none;
    color: #8f6313;
    padding: 20px;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    font-weight: 600;
    padding: 0px 0 20px 0;
}
.menu1::before{
    content: '';
    width: 0%;
    height: 5px;
    background-color: #8f6313;
    position: absolute;
    bottom: 0;
    transition: 0.5s;
}
.menu1:hover::before{
    width: 100%;
}

.resumebutton{
    /* margin-right: 40px; */
    border: 2px solid #8f6313;
    border-radius: 15px;
}
.button {
    text-decoration: none;
    padding: 5px;
    color: #8f6313;
    font-family: 'El Messiri', sans-serif;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    transition: 0.5s;
}
.resumebutton:hover .button{
    color: white;
    background-color: #453009;
    border-radius: 15px;
}
.mobilenavtoggle{
    display: none;
}
@media (max-width: 1070px){
    .navstylelink ol li{
        padding-inline: 30px;
    }
}
@media (max-width: 970px){
    .navstylelink ol li{
        padding-inline: 20px;
    }
}
@media (max-width: 970px){
    .navstylelink ol li{
        padding-inline: 18px;
    }
    .menu1{
        font-size: 13px;
    }
}
@media (max-width: 800px){
    .navstylelink{
        position: fixed;
        inset: 0 0 0 40%;
        background-color: hsl(0 0% 100% / 0.1);
        display: flex;
        flex-direction: column;
        padding: min(5vh,7rem) 2em;
        backdrop-filter: blur(2rem);
        align-items: center;
        z-index: 15;
        transform: translatex(100%);
        transition: transform 350ms ease-out;
    }
    .navstylelink[data-visible="true"] {
        transform: translatex(0%);
    }
    .navstylelink ol{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        list-style: none;
    }
    .navstylelink ol li{
        padding: 40px 0;
        
    }
    .menu1{
        font-size: 20px;
        text-decoration: none;
        color: #8f6313;
        border-style: none;
        font-weight: bold;
        padding: 10px;
        font-family: 'El Messiri', sans-serif;
    }
    .navstylelink ol li a:hover{
        background-color: none;
    }
    .menu1::before{
        display: none;
    }
    .menu1:hover::before{
        width: none;
    }
    .resumebutton{
        border: 2px solid #8f6313;
        border-radius: 15px;
    }
    .button {
        text-decoration: none;
        padding: 5px;
        color: white;
        background-color: #453009;
        border-radius: 15px;
        font-family: 'El Messiri', sans-serif;
        display: flex;
        align-items: center;
        padding: 10px 20px;
        transition: 0.5s;
    }
    .resumebutton:hover .button{
        color: none;
        background-color: none;
        border-radius: 15px;
    }
    .mobilenavtoggle{
        display: block;
        position: absolute;
        background: url(/icon-hamburger.svg);
        background-repeat: no-repeat;
        width: 2rem;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        z-index: 20;
    }
    .mobilenavtoggle[aria-expanded="true"] {
        background-image: url(/icon-close.svg);
    }
}

.iconlist{
    orientation: left;
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 35px;
    right: auto;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialicon{
    list-style-type: none;
}
.iconlist .socialicon i{
    padding-block: 35px;
    color: #8f6313;
    align-items: center;
}
.iconlist .socialicon i:hover{
    color: #919393ab;
    padding-bottom: 40px;
}
.socialicon::after{
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #8f6313;
}
.email{
    orientation: right;
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 35px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.email::after{
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #8f6313;
}
.email a:hover{
    color: #919393b5;
}
.email a{
    margin: 20px auto;
    padding: 0px 10px;
    letter-spacing: 0.1em;
    writing-mode: vertical-rl;
    text-decoration: none;
    color: #8f6313;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courgette', cursive;
}
.fa-envelope{
    color: #8f6313;
    padding-bottom: 10px;
    margin-right: 5px;
}
@media (max-width: 800px){
    .iconlist, .email{
        display: none;
    }
}


/*main page startin from home*/

main {
    width: 100%;
    min-height: 100vh;
    padding: 50px  0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section {
    padding: 80px 110px;
    max-width: 1600px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}
@media (max-width: 800px){
    main {
        padding: 90px 0px;
    }
    section {
        margin: 0px auto;
        padding: 100px 50px;
        height: 100%;
    }
}
@media (max-width: 420px){
    main {
        max-width: 400px;
        min-height: vh;
        padding: 20px 0px;
    }
    section {
        margin: 0px auto;
        padding: 20px 20px 30px;
        height: 100%;
    }
}
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.hi {
    margin: 20px 10px 20px 4px;
    color: #8f6313;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    font-size: clamp(1.1rem,4vw,3rem);
    font-weight: 600;
}
.eze{
    margin-bottom: 10px;
    padding:0px;
    font-size: clamp(29px, 8vw, 150px);
    font-weight: 600;
    /* color: #b8b7b7e8; */
    letter-spacing: 5px;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    overflow: hidden;
    background: linear-gradient(90deg, #020c1b, #fff, #020c1b);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 2s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, .03);
}
@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}
.front{
    font-size: clamp(16px, 6vw, 40px);
    font-weight: 400;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.659);
}

.web{
    max-width: 600px;
    font-size: clamp(15px, 3vw, 30px);
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    color: #8f6313;
    line-height: 38px;
    letter-spacing: 1.2px;
    justify-content: space-around;
}

.contactbutton{
    margin-top: 20px;
}
.contactbutton a{
    text-decoration: none;
}
.button-63 {
    align-items: center;
    background-image: linear-gradient(144deg,#858f13, #8f6313 50%,#eb6600);
    border: 0;
    border-radius: 8px;
    box-shadow: #8f6313 0 5px 10px -5px;
    color: #FFFFFF;
    display: flex;
    font-size: 15px;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    justify-content: center;
    line-height: 1em;
    max-width: 50%;
    min-width: 120px;
    padding: 15px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.button-63:active,
.button-63:hover {
    outline: 0;
}
.fa-pen-nib{
    margin-left: 15px;
}

@media (min-width: 768px) {
    .button-63 {
        font-size: 24px;
        min-width: 196px;
    }
}


@media (max-width: 420px) {
    #home{
        height: 100vh;
    }
    .hi {
        margin: 20px 10px 20px 4px;
        font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
        font-size: clamp(1.1rem,4vw,3rem);
    }
    .eze{
        margin-bottom: 20px;
    }
    .web{
        max-width: 600px;
        font-size: clamp(15px, 2vw, 30px);
        font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
        color: #8f6313;
        line-height: 28px;
        letter-spacing: 1.2px;
    }
}
.chevron{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.fa-angles-down{
    color: #8f6313;
    position: relative;
    animation-name: down;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes down {
    from {top: 0px;}
    to {top: 50px; }
}
.fa-angles-down:hover{
    padding-top: 20px;
}

/*about me page*/
.aboutme {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0 40px;
    width: 100%;
    font-size: clamp(24px,5vw,30px);
    white-space: nowrap;
    font-family: 'Courgette', cursive;
    color: #8f6313;
}
.aboutme::after {
    content: "";
    display: block;
    position: relative;
    top: -2px;
    width: 50%;
    height: 1px;
    margin-left: 20px;
    background-color: #8f641398;
}
.aboutme::before {
    content: "";
    display: block;
    position: relative;
    top: -2px;
    width: 50%;
    height: 1px;
    margin-right: 20px;
    background-color: #8f641398;
}
section .aboutcontent{
    font-size: clamp(14px, 2vw, 18px);
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    color: rgba(255, 255, 255, 0.376);
    text-align: justify;
    letter-spacing: 1.2px;
    line-height: 1.3;
    width: 100%;
}
.meetme{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.meetme p{
    width: 60%;
    margin-right: 40px;
    font-size: clamp(14px, 1.5vw, 18px);
}
.wix{
    text-decoration: none;
    color: #8d5e07;
}
.wix:hover{
    text-decoration: underline;
}

.alexphoto {
    position: relative;
    max-width: 400px;
    overflow: hidden;
    width: 50%;
    height: 340px;
    background-image: url(/20211227_082008.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
    margin-top: 20px;
}
/* skills start */
.skillcontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 50px;
}
.skill_title h2{
    font-size: 20px;
    color: #8f6313;
    margin-bottom: 50px;
}
.contain{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.contain .card{
    position: relative;
    width: 190px;
    height: 210px;
    background-color: #010a1a;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contain .card .percent{
    position: relative;
    width: 150px;
    height: 150px;

}
.contain .card .percent svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}
.contain .card .percent svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2;
    stroke: black;
    transform: translate(5px, 5px);
}
.contain .card .percent svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 4.5s;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.dot{
    position: absolute;
    inset: 5px;
    z-index: 10;
    transform: rotate(calc(3.6deg * var(--num)));
    animation: dot 5s linear forwards;
}
@keyframes dot {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(calc(3.6deg * var(--num)));
    }
}
.dot::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr);
}
.number{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 4.5s;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}
.number h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 2.5em;

    margin-block: 0;
}
.number h2 span{
    font-weight: 300;
    color: white;
    font-size: 0.5em;
}
.number p{
    font-weight: 300;
    font-size: 0.8em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    margin-top: 2px;
}
/* skills end */

/*teblet about me*/

@media (max-width: 1088px){
        /* skills start */
        .contain .card{
            width: 150px;
            height: 160px;
        }
    
        .contain .card .percent{
            position: relative;
            width: 110px;
            height: 110px;
    
        }
        .contain .card .percent svg{
            width: 110px;
            height: 110px;
        }
        .contain .card .percent svg circle{
            cx:50;
            cy:50;
            r:50;
        }
        .contain .card .percent svg circle:nth-child(2) {
            stroke-dasharray: 310;
            stroke-dashoffset: calc(310 - (310 * var(--num)) / 100);
        }
        .dot::before{
            top: -2px;
            left: 50%;
            width: 5px;
            height: 5px;
        }
        .number h2{
            font-weight: 500;
            font-size: 2em;
            margin-block: 0;
        }
        .number h2 span{
            font-weight: 300;
            color: white;
            font-size: 0.5em;
        }
        .number p{
            font-weight: 300;
            font-size: 0.7em;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: white;
            margin-top: 2px;
        }
}
@media (max-width: 929px){
    /* skills start */
    .contain{
        gap: 25px;
    }
    .contain .card{
        width: 120px;
        height: 130px;
    }

    .contain .card .percent{
        position: relative;
        width: 100px;
        height: 100px;

    }
    .contain .card .percent svg{
        width: 100px;
        height: 100px;
    }
    .contain .card .percent svg circle{
        cx:45;
        cy:45;
        r:45;
    }
    .contain .card .percent svg circle:nth-child(2) {
        stroke-dasharray: 280;
        stroke-dashoffset: calc(280 - (280 * var(--num)) / 100);
    }
    .dot::before{
        top: -2px;
        left: 50%;
        width: 5px;
        height: 5px;
    }
    .number h2{
        font-weight: 500;
        font-size: 1.7em;
        margin-block: 0;
    }
    .number h2 span{
        font-weight: 300;
        color: white;
        font-size: 0.5em;
    }
    .number p{
        font-weight: 300;
        font-size: 0.6em;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: white;
        margin-top: 2px;
    }
}
@media (max-width: 800px){
    section .aboutcontent{
        display: block;
        
    }
    .alexphoto {
        position: relative;
        max-width: 350px;
        margin: 0 auto;
    }
    .meetme{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }
    .meetme p{
        width: 75%;
        margin-right: 0px;
        font-size: clamp(14px, 1.5vw, 18px);
    }
    .alexphoto {
        position: relative;
        max-width: 400px;
        overflow: hidden;
        width: 25%;
        height: 170px;
        background-image: url(/20211227_082008.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 10px;
        margin-top: 20px;
        margin-right: 20px;
    }
    
        /* skills start */
    .contain .card{
        width: 110px;
        height: 120px;
    }

    .contain .card .percent{
        position: relative;
        width: 90px;
        height: 90px;

    }
    .contain .card .percent svg{
        width: 90px;
        height: 90px;
    }
    .contain .card .percent svg circle{
        cx:40;
        cy:40;
        r:40;
    }
    .contain .card .percent svg circle:nth-child(2) {
        stroke-dasharray: 250;
        stroke-dashoffset: calc(250 - (250 * var(--num)) / 100);
    }
    .dot::before{
        top: -2px;
        left: 50%;
        width: 5px;
        height: 5px;
    }
    .number h2{
        font-weight: 500;
        font-size: 1.5em;
        margin-block: 0;
    }
    .number h2 span{
        font-weight: 300;
        color: white;
        font-size: 0.5em;
    }
    .number p{
        font-weight: 300;
        font-size: 0.5em;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: white;
        margin-top: 2px;
    }
}
@media (max-width: 500px) {
    .meetme{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .meetme p{
        width: 100%;
        margin-right: 0px;
        font-size: clamp(14px, 1.5vw, 18px);
    }
    .alexphoto {
        position: relative;
        max-width: 400px;
        overflow: hidden;
        width: 80%;
        height: 40vh;
        background-image: url(/20211227_082008.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 10px;
        margin: 10px auto;
    }
}

/* services */
.qualification_data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.qualification_title{
    font-size: clamp(10px,4vw,25px);
    font-weight: 500;
    color: #8f6313;
}
.qualification_subtitle{
    display: inline-block;
    font-size: 15px;
    margin-bottom: 10px;
    text-align: justify;
    color: rgb(111, 111, 111);
}

.qualification_rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: #8f6313;
    border-radius: 50%;
}

.qualification_line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: #9f6f15;
    transform: translate(6px, -7px);
}

.qualification [data-content] {
    display: none;
}

.qualification_active[data-content] {
    display: block;
}

/*porfolio*/
.somethings {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(8px,4vw,28px);
    white-space: nowrap;
    font-family: 'Courgette', cursive;
    color: #8f6313;
}
.somethings::after {
    content: "";
    display: block;
    position: relative;
    top: -2px;
    width: 50%;
    height: 1px;
    margin-left: 20px;
    background-color: #8f641398;
}
.somethings::before {
    content: "";
    display: block;
    position: relative;
    top: -2px;
    width: 50%;
    height: 1px;
    margin-right: 20px;
    background-color: #8f641398;
}
.projectcontent{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projectimage{
    width: 70%;
    height: 470px;
    background-image: url(/spacepic.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 20px black;
}  
.projectimage:hover{
    box-shadow: 0 20px 50px -20px rgb(0, 0, 0);
}
.projectimage::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius:8px;
    top: 0px;
    left: 0px;
    inset: 0px;
    z-index: 1;
    background-color: #8f6413a4;
    mix-blend-mode: screen;
}
.projectimage:hover::before{
    display: none;
    transition: all 0.55s cubic-bezier(0.645,0.045,0.355,1);
    
}
.spaceproject{
    width: 50%;
    margin-right: -150px;
}
.projectcontent .write-up {
    box-shadow: 0 10px 30px -15px rgb(0, 0, 0);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: 5px;
    background-color: #021127;
    color: #919393;
    font-size: clamp(7px, 3vw, 17px);
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}
.write-up:hover{
    box-shadow: 0 20px 50px -20px rgb(0, 0, 0);
}
.frontcom {
    text-decoration: none;
    color: #8d5e07;
}
.frontcom:hover{
    text-decoration: underline;
    transition: all 0.55s cubic-bezier(0.645,0.045,0.355,1);
}
.projectcontent .project-tool{
    display: flex;
    flex-direction: row;
    margin: 20px 0 20px 0;
    padding: 0 0 0 0;
}
.projectcontent .project-tool li{
    list-style-type: none;
    margin: 0;
    padding-right: 40px;
    font-size: clamp(9px, 2vw, 14px);
    font-weight: light;
    color: #919393;
    z-index: 5;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}
.spaceproject .feature{
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    font-size: clamp(9px, 3vw, 14px);
    color: #8d5e07;
    margin-bottom: 0;
    font-weight: bold;
    z-index: 5;
}
.theme{
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    font-size: clamp(10px, 3vw, 35px);
    margin-bottom: 30px;
    margin-top: 0;
    color: #ffffff9f;
    cursor: pointer;
    z-index: 5;
}
.theme a {
    text-decoration: none;
    list-style-type: none;
    color: #ffffff9f;
}
.theme a:hover{
    color: #8d5e07;
    transition: all 0.55s cubic-bezier(0.645,0.045,0.355,1);
}

.projectlinkicons li {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
}
.projectlinkicons li a{
    margin-right: 40px;
    margin-top: 20px;
    color: #8f6313;
}
.projectlinkicons li a:hover{
    color: #999b9b;
}

@media (max-width: 800px){
    .projectcontent {
        position: relative;
        display: flex;
        align-items: center;
        width:90%;
        background-image: url(spacepic.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: darken rgba(0, 0, 0, 0.459) ;
        height: 47.7vh;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0 0 20px black;
    }
    .projectcontent::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 57vh;
        border-radius:5px;
        top: 0px;
        left: 0px;
        inset: 0px;
        background-color: #1b1711;
        mix-blend-mode: darken;
    }
    .projectimage{
        display: none;
    }
    .spaceproject{
        width: 80%;
        z-index: 5;
        margin: 0;
        justify-content: center;
    }
    .write-up {
        box-shadow: 0 10px 30px -15px rgb(0, 0, 0);
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
        position: absolute;
        z-index: 5;
        padding: 10px;
        border-radius: 5px;
        background-color: #021127;
        color: #919393;
        font-size: 17px;
        font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    }
    .write-up:hover{
        box-shadow: 0 0px 5px #f5a60846;
    }
    .frontcom {
        text-decoration: none;
        color: #8d5e07;
    }
    .frontcom:hover{
        text-decoration: underline;
        transition: all 0.55s cubic-bezier(0.645,0.045,0.355,1);
    }
    .project-tool{
        display: flex;
        flex-direction: row;
        margin: 10px 0 10px 0;
        padding: 0 0 0 0;
        z-index: 5;
    }
    .project-tool li{
        list-style-type: none;
        margin: 0;
        padding-right: 40px;
        z-index: 5;
        font-size: 14px;
        font-weight: light;
        color: #919393;
        font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    }
    .spaceproject .feature{
        font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
        font-size: 14px;
        color: #8d5e07;
        margin-bottom: 0;
        font-weight: bold;
        z-index: 6;
    }
    .theme{
        font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
        font-size: 35px;
        margin-bottom: 10px;
        margin-top: 0;
        color: #ffffff9f;
        cursor: pointer;
        z-index: 6;
    }
    .theme:hover{
        color: #8d5e07;
        transition: all 0.55s cubic-bezier(0.645,0.045,0.355,1);
    }
}
@media (max-width: 380px){
    .projectcontent {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0 auto;
        width:90%;
        background-image: url(spacepic.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: darken rgba(0, 0, 0, 0.459) ;
        height: 47vh;
        padding: 0px;
        border-radius: 5px;
        box-shadow: 0 0 20px black;
    }
    .projectcontent::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 47vh;
        border-radius:5px;
        top: 0px;
        left: 0px;
        inset: 0px;
        background-color: #1b1711;
        mix-blend-mode: darken;
    }
    .projectimage{
        display: none;
    }
    .spaceproject{
        width: 90%;
        z-index: 5;
        margin: 0;
        margin-left: 0;
        height: 90%;
    }
    .write-up {
        box-shadow: 0 10px 30px -15px rgb(0, 0, 0);
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
        width: 80%;
        z-index: 5;
        padding: 2px;
        height: 30%;
        border-radius: 5px;
        background-color: #021127;
        color: #919393;
        margin-left: 0;
        font-size: 7px;
        font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    }
    .write-up:hover{
        box-shadow: 0 0px 5px #f5a60846;
    }
    .frontcom {
        text-decoration: none;
        color: #8d5e07;
    }
    .frontcom:hover{
        text-decoration: underline;
        transition: all 0.55s cubic-bezier(0.645,0.045,0.355,1);
    }
    .project-tool{
        display: flex;
        flex-direction: row;
        margin: 10px 0 10px 0;
        padding: 0 0 0 0;
        z-index: 5;
        /*margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        padding-inline-start: 10px;*/
    }
    .project-tool li{
        list-style-type: none;
        
        padding-right: 0;
        z-index: 5;
        font-size: 5px;
        font-weight: light;
        color: #919393;
        font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    }
    .spaceproject .feature{
        font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
        font-size: 10px;
        color: #8d5e07;
        margin-bottom: 0;
        font-weight: bold;
        z-index: 6;
        margin-top: 0;
        padding-top: 0;
    }
    .theme{
        font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
        font-size: 25px;
        margin-bottom: 10px;
        margin-top: 0;
        color: #ffffff9f;
        cursor: pointer;
        z-index: 6;
    }
    .theme:hover{
        color: #8d5e07;
        transition: all 0.55s cubic-bezier(0.645,0.045,0.355,1);
    }
}

/*contact*/
.what {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(20px,5vw,28px);
    white-space: nowrap;
    font-family: 'Courgette', cursive;
    color: #8f6313;
}
.what::after {
    content: "";
    display: block;
    position: relative;
    top: -2px;
    width: 50%;
    height: 1px;
    margin-left: 20px;
    background-color: #8f641398;
}
.what::before {
    content: "";
    display: block;
    position: relative;
    top: -2px;
    width: 50%;
    height: 1px;
    margin-right: 20px;
    background-color: #8f641398;
}
.contactcontent{
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.get{
    font-size: clamp(20px, 8vw, 60px);
    font-weight: 400;
    color: #b8b7b7e8;
    line-height: 1.1;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    margin-top: 0;
    margin-bottom: 15px;
}
.my{
    font-size: clamp(14px, 3vw, 20px);
    font-weight: 400;
    color: #b8b7b7c5;
    line-height: 1.1;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    margin-bottom: 30px;
}
.contactbox{
    width: 100%;
    min-width: 200px;
    margin: o auto;
    padding: 20px 40px;
    box-shadow: 0 0 30px black;
    background-color: #94815d83;
    border-radius: 5px;
}
.formgroup{
    width: 100%;
    margin-top: 20px;
}
.formgroup input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border-style: none;
}
.formgroup textarea{
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border-style: none;
    resize: vertical;
}
.buttonsubmit{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 45px;
    margin-block: 15px;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color: #8f6313;
    text-align: center;
    transition: 0.3s ease background-color;
}
.buttonsubmit:hover{
    background-color: #a79471;
    color: #473004;
}
#status{
    width: 20%;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
}
#status.success{
    background-color: #5a8d0770;
    color: #000;
    animation: status 4s ease forwards;
}
#status.error{
    background-color: #ff000049;
    color: rgb(255, 255, 255);
    animation: status 4s ease forwards;
}
@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}
@media (max-width: 800px){
    .contactbox{
        width: 90%;
        min-width: 200px;
        margin: o auto;
        padding: 20px;
        box-shadow: 0 0 30px black;
        background-color: #94815d83;
        border-radius: 5px;
    }
    .formgroup{
        width: 100%;
        margin-top: 15px;
    }
    .formgroup input{
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border-style: none;
    }
    .formgroup textarea{
        width: 100%;
        height: 100px;
        border-radius: 5px;
        border-style: none;
        resize: vertical;
    }
    .buttonsubmit{
        width: 100%;
        border: none;
        outline: none;
        border-radius: 5px;
        height: 40px;
        margin-top: 5px;
        font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
        color: #fefefe;
        background-color: #8f6313;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        text-align: center;
        transition: 0.3s ease background-color;
    }
    .buttonsubmit:hover{
        background-color: #a79471;
        color: #473004;
    }
    #status{
        width: 20%;
        text-align: center;
        padding: 10px;
        margin: 0 auto;
        border-radius: 8px;
    }
    #status.success{
        background-color: #5a8d0770;
        color: #000;
        animation: status 4s ease forwards;
    }
    #status.error{
        background-color: #ff000049;
        color: rgb(255, 255, 255);
        animation: status 4s ease forwards;
    }
    @keyframes status{
        0%{
            opacity: 1;
            pointer-events: all;
        }
        90%{
            opacity: 1;
            pointer-events: all;
        }
        100%{
            opacity: 0;
            pointer-events: none;
        }
    }
}
/*tablets*/
@media (max-width: 800px){
    .iconlist, .email{
        display: none;
    }
    .aboutme::before, .aboutme::after, .somethings::before,
    .somethings::after, .what::before, .what::after {
        display: none;
    }
    .aboutme, .somethings, .what{
        display: flex;
        justify-content: center;
    }
}
/*footer*/
.downicon{
    display: none;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #919393;
    font-family: ;
    font-size: 15px;
    line-height: 1;
}
footer div{
    margin-bottom: 40px;
    margin-top: 20px;
}
footer div a{
    text-decoration: none;
    color: #999b9b;
    font-family: 'Courgette', cursive;

}
@media (max-width: 800px){
    .downicon{
        display: flex;
    }
    .downicon li{
        padding: 20px;
        list-style-type: none;
        color: #8f6313;
    }
    .downicon li i{
        color: #8f6313;
    }
    .downicon li i:hover{
        color: #919393;
    }
}
